* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  /* background-color: #1a202c; */
  color: #fff;

  background-image: url('../public/img/concepto-fondo-estudio-fondo-oscuro-sala-estudio-cemento-producto_320929-18.avif');
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: #fff;
  text-decoration: none;
}

.sharedlayout_container {
  width: 100vw;
  height: 100vh;
}

.sharedlayout_outlet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 350px;
  margin: 0 auto;
  margin-top: 45px;
  padding: 15px;

  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px aquamarine;

  background-color: #1a202c;
}

.signup_page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 350px;
  margin: 0 auto;
  margin-top: 45px;
  padding: 15px;

  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px aquamarine;

  background-color: #1a202c;
}
