.contact_list-sheet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */

  gap: 8px;

  overflow-y: auto;
}

.contact_list-sheet::-webkit-scrollbar {
  display: none;
}

.contact_list-sheet {
  -ms-overflow-style: none;
  scrollbar-width: 10px;
}
